## Import packages

In [14]:
import os
import sys
import json
import pandas as pd
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt

In [15]:
parent_dir = os.path.join(os.getcwd(),"../src")
sys.path.insert(0, parent_dir)
from semi_utils import sql_queries as sqlq

## Test the API

In [16]:
phlx_semi = yf.Ticker("^SOX")

# get all stock info
phlx_semi.info

# get historical market data
hist = phlx_semi.history(period="1mo")
hist

ERROR:yfinance:401 Client Error: Unauthorized for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/%5ESOX?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=%5ESOX&crumb=eJeQAUkzDAY

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-08-27 00:00:00-04:00,5063.470215,5171.100098,5018.830078,5153.629883,0,0.0,0.0
2024-08-28 00:00:00-04:00,5138.600098,5163.709961,5005.500000,5059.560059,0,0.0,0.0
2024-08-29 00:00:00-04:00,5068.709961,5157.689941,5010.049805,5029.250000,0,0.0,0.0
2024-08-30 00:00:00-04:00,5154.569824,5176.830078,5075.379883,5158.819824,0,0.0,0.0
2024-09-03 00:00:00-04:00,5058.709961,5058.709961,4735.899902,4759.000000,0,0.0,0.0
2024-09-04 00:00:00-04:00,4707.020020,4844.259766,4695.169922,4770.850098,0,0.0,0.0
2024-09-05 00:00:00-04:00,4708.589844,4821.640137,4698.049805,4742.419922,0,0.0,0.0
2024-09-06 00:00:00-04:00,4698.779785,4701.089844,4507.680176,4528.220215,0,0.0,0.0
2024-09-09 00:00:00-04:00,4598.279785,4636.620117,4547.180176,4625.779785,0,0.0,0.0
2024-09-10 00:00:00-04:00,4624.990234,4684.589844,4561.930176,4680.669922,0,0.0,0.0
2024-09-11 00:00:00-04:00,4712.129883,4918.919922,4616.589844,4910.169922,0,0.0,0.0
2024-09-12 00:00:00-04:00,4878.180176,4944.379883,4824.290039,4898.439941,0,0.0,0.0
2024-09-13 00:00:00-04:00,4940.220215,4991.339844,4929.549805,4980.490234,0,0.0,0.0
2024-09-16 00:00:00-04:00,4905.689941,4935.779785,4850.359863,4910.439941,0,0.0,0.0
2024-09-17 00:00:00-04:00,4971.390137,4980.859863,4874.339844,4912.100098,0,0.0,0.0
2024-09-18 00:00:00-04:00,4935.450195,5006.430176,4854.870117,4859.290039,0,0.0,0.0
2024-09-19 00:00:00-04:00,5049.779785,5135.890137,5005.020020,5066.649902,0,0.0,0.0
2024-09-20 00:00:00-04:00,5016.399902,5034.580078,4928.850098,5000.060059,0,0.0,0.0
2024-09-23 00:00:00-04:00,5027.379883,5043.970215,4984.680176,5025.810059,0,0.0,0.0
2024-09-24 00:00:00-04:00,5071.479980,5119.790039,5009.700195,5091.779785,0,0.0,0.0
2024-09-25 00:00:00-04:00,5078.250000,5167.839844,5078.250000,5132.520020,0,0.0,0.0
2024-09-26 00:00:00-04:00,5352.350098,5355.970215,5182.509766,5310.500000,0,0.0,0.0

## Get Data for the I Shares Semiconductor UCITS ETF
(Backtest Back to 2001)

In [17]:
ishares_semi = yf.Ticker("SOXX")

# get historical market data
soxx = ishares_semi.history(period="max")
soxx = soxx.reset_index()
soxx[:10]

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
0,2001-07-13 00:00:00-04:00,19.982117,20.338645,19.506747,20.078850,603300,0.0,0.0,0.0
1,2001-07-16 00:00:00-04:00,19.719551,19.774828,18.915293,18.915293,180000,0.0,0.0,0.0
2,2001-07-17 00:00:00-04:00,18.779874,19.691921,18.766055,19.691921,287100,0.0,0.0,0.0
3,2001-07-18 00:00:00-04:00,19.097718,19.238671,18.876616,18.876616,301800,0.0,0.0,0.0
4,2001-07-19 00:00:00-04:00,20.009754,20.092667,19.678101,19.678101,405000,0.0,0.0,0.0
5,2001-07-20 00:00:00-04:00,19.277352,19.595186,19.277352,19.581367,360000,0.0,0.0,0.0
6,2001-07-23 00:00:00-04:00,19.691924,19.691924,18.987160,18.987160,195300,0.0,0.0,0.0
7,2001-07-24 00:00:00-04:00,18.876618,18.876618,18.462051,18.475870,150300,0.0,0.0,0.0
8,2001-07-25 00:00:00-04:00,18.406773,18.752244,18.144213,18.144213,179100,0.0,0.0,0.0
9,2001-07-26 00:00:00-04:00,18.945714,20.023587,18.876618,19.830124,281700,0.0,0.0,0.0

## Get Data for VanEck Semiconductors UCITS ETF
(The live index fund we can invest in)

In [18]:
vaneck_semi = yf.Ticker("SMGBL.XC")

# get historical market data
smgb = vaneck_semi.history(period="1mo")

## Save out this data to the database

In [19]:
soxx.Date

0      2001-07-13 00:00:00-04:00
1      2001-07-16 00:00:00-04:00
2      2001-07-17 00:00:00-04:00
3      2001-07-18 00:00:00-04:00
4      2001-07-19 00:00:00-04:00
                  ...
5833   2024-09-20 00:00:00-04:00
5834   2024-09-23 00:00:00-04:00
5835   2024-09-24 00:00:00-04:00
5836   2024-09-25 00:00:00-04:00
5837   2024-09-26 00:00:00-04:00
Name: Date, Length: 5838, dtype: datetime64[ns, America/New_York]

In [20]:
engine = sqlq.get_sql_engine(os.path.join(os.getcwd(), '..','data', 'semi.db'))
sqlq.make_table(df = soxx, name = "soxx", engine = engine, if_exists ='replace')
sqlq.make_table(df = smgb, name = "smgb", engine = engine, if_exists ='replace')

In [21]:
#engine.dispose()