## Import packages

In [1]:
import os
import sys
import json
import pandas as pd
import numpy as np
import yfinance as yf

## Test the API

In [2]:
phlx_semi = yf.Ticker("^SOX")

# get all stock info
phlx_semi.info

# get historical market data
hist = phlx_semi.history(period="1mo")
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-07-24 00:00:00-04:00,5320.100098,5330.910156,5098.430176,5105.649902,0,0.0,0.0
2024-07-25 00:00:00-04:00,5052.299805,5168.089844,4906.729980,5005.359863,0,0.0,0.0
2024-07-26 00:00:00-04:00,5110.629883,5147.939941,5056.209961,5103.129883,0,0.0,0.0
2024-07-29 00:00:00-04:00,5156.000000,5226.379883,5074.299805,5087.620117,0,0.0,0.0
2024-07-30 00:00:00-04:00,5108.009766,5119.350098,4874.609863,4890.149902,0,0.0,0.0
2024-07-31 00:00:00-04:00,5127.620117,5240.580078,5088.439941,5233.180176,0,0.0,0.0
2024-08-01 00:00:00-04:00,5143.839844,5201.290039,4801.049805,4859.589844,0,0.0,0.0
2024-08-02 00:00:00-04:00,4644.459961,4698.879883,4540.680176,4607.759766,0,0.0,0.0
2024-08-05 00:00:00-04:00,4330.259766,4635.129883,4290.350098,4519.450195,0,0.0,0.0
2024-08-06 00:00:00-04:00,4558.700195,4683.060059,4493.669922,4567.569824,0,0.0,0.0
2024-08-07 00:00:00-04:00,4709.620117,4738.939941,4418.569824,4426.270020,0,0.0,0.0
2024-08-08 00:00:00-04:00,4552.160156,4736.720215,4472.350098,4730.009766,0,0.0,0.0
2024-08-09 00:00:00-04:00,4702.970215,4746.270020,4643.850098,4709.450195,0,0.0,0.0
2024-08-12 00:00:00-04:00,4729.270020,4800.169922,4690.209961,4743.819824,0,0.0,0.0
2024-08-13 00:00:00-04:00,4807.680176,4945.790039,4788.279785,4942.310059,0,0.0,0.0
2024-08-14 00:00:00-04:00,4981.779785,5000.109863,4852.359863,4933.350098,0,0.0,0.0
2024-08-15 00:00:00-04:00,5035.580078,5190.169922,5022.029785,5173.379883,0,0.0,0.0
2024-08-16 00:00:00-04:00,5108.720215,5186.120117,5100.140137,5170.250000,0,0.0,0.0
2024-08-19 00:00:00-04:00,5159.540039,5266.979980,5096.350098,5266.569824,0,0.0,0.0
2024-08-20 00:00:00-04:00,5237.290039,5273.270020,5159.100098,5196.299805,0,0.0,0.0
2024-08-21 00:00:00-04:00,5232.299805,5288.540039,5205.089844,5267.930176,0,0.0,0.0
2024-08-22 00:00:00-04:00,5303.830078,5315.720215,5072.430176,5086.899902,0,0.0,0.0
2024-08-23 00:00:00-04:00,5163.060059,5259.279785,5149.009766,5228.649902,0,0.0,0.0

## Get Data for the I Shares Semiconductor UCITS ETF
(Backtest Back to 2001)

In [7]:
ishares_semi = yf.Ticker("SOXX")

# get historical market data
soxx = ishares_semi.history(period="max")
soxx[:10]

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2001-07-13 00:00:00-04:00,20.030775,20.388171,19.554247,20.127743,603300,0.0,0.0,0.0
2001-07-16 00:00:00-04:00,19.767574,19.822985,18.961357,18.961357,180000,0.0,0.0,0.0
2001-07-17 00:00:00-04:00,18.825608,19.739876,18.811755,19.739876,287100,0.0,0.0,0.0
2001-07-18 00:00:00-04:00,19.144204,19.285500,18.922564,18.922564,301800,0.0,0.0,0.0
2001-07-19 00:00:00-04:00,20.058478,20.141593,19.726017,19.726017,405000,0.0,0.0,0.0
2001-07-20 00:00:00-04:00,19.324295,19.642904,19.324295,19.629051,360000,0.0,0.0,0.0
2001-07-23 00:00:00-04:00,19.739870,19.739870,19.033390,19.033390,195300,0.0,0.0,0.0
2001-07-24 00:00:00-04:00,18.922569,18.922569,18.506993,18.520845,150300,0.0,0.0,0.0
2001-07-25 00:00:00-04:00,18.451590,18.797903,18.188391,18.188391,179100,0.0,0.0,0.0
2001-07-26 00:00:00-04:00,18.991826,20.072323,18.922563,19.878389,281700,0.0,0.0,0.0

## Get Data for VanEck Semiconductors UCITS ETF
(The live index fund we can invest in)

In [3]:
vaneck_semi = yf.Ticker("SMGBL.XC")

# get historical market data
smgb = vaneck_semi.history(period="1mo")
smgb

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2024-07-23 00:00:00+01:00,34.275002,34.275002,34.275002,34.275002,300,0.0,0.0,0.0
2024-07-26 00:00:00+01:00,32.334999,32.514999,32.334999,32.514999,1975,0.0,0.0,0.0
2024-07-29 00:00:00+01:00,32.875000,32.945000,32.500000,32.500000,255,0.0,0.0,0.0
2024-07-30 00:00:00+01:00,31.575001,31.575001,31.575001,31.575001,50,0.0,0.0,0.0
2024-07-31 00:00:00+01:00,33.009998,33.040001,33.009998,33.040001,957,0.0,0.0,0.0
2024-08-01 00:00:00+01:00,33.584999,33.584999,33.305000,33.305000,103,0.0,0.0,0.0
2024-08-02 00:00:00+01:00,30.655001,30.655001,29.670000,29.670000,1861,0.0,0.0,0.0
2024-08-05 00:00:00+01:00,27.760000,28.040001,27.370001,27.825001,1891,0.0,0.0,0.0
2024-08-06 00:00:00+01:00,30.094999,30.094999,29.504999,29.559999,2314,0.0,0.0,0.0
2024-08-07 00:00:00+01:00,30.150000,30.605000,30.150000,30.605000,344,0.0,0.0,0.0
2024-08-08 00:00:00+01:00,29.285000,29.415001,29.285000,29.415001,52,0.0,0.0,0.0
2024-08-09 00:00:00+01:00,30.930000,31.105000,30.545000,30.545000,142,0.0,0.0,0.0
2024-08-12 00:00:00+01:00,31.080000,31.080000,31.080000,31.080000,547,0.0,0.0,0.0
2024-08-13 00:00:00+01:00,31.014999,31.014999,31.014999,31.014999,46,0.0,0.0,0.0
2024-08-14 00:00:00+01:00,31.969999,31.969999,31.530001,31.555000,298,0.0,0.0,0.0
2024-08-15 00:00:00+01:00,32.070000,32.070000,32.070000,32.070000,291,0.0,0.0,0.0
2024-08-19 00:00:00+01:00,32.794998,32.794998,32.794998,32.794998,400,0.0,0.0,0.0